#Container
{
width:1000px;
height:auto;
margin-left:auto;
margin-right:auto;
}
#Header
{
height:450px;

}

#SideBar {
width:200px;
height:400px;
background-color:blue;
float:left;
}
#MainBody {
width:800px;
height:400px;
background-color:blue;
float:right;
background-image:url("students.jpg ");  

 }
