<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ApplicationApproval</servlet-name>
        <servlet-class>CollegeApplication.ApplicationApproval</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>regervlet</servlet-name>
        <servlet-class>CollegeApplication.regervlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgetpassword</servlet-name>
        <servlet-class>CollegeApplication.forgetpassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>leave</servlet-name>
        <servlet-class>CollegeApplication.leave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>abmissionform</servlet-name>
        <servlet-class>CollegeApplication.abmissionform</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApplicationApproval</servlet-name>
        <url-pattern>/ApplicationApproval</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>regervlet</servlet-name>
        <url-pattern>/regervlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgetpassword</servlet-name>
        <url-pattern>/forgetpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>leave</servlet-name>
        <url-pattern>/leave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>abmissionform</servlet-name>
        <url-pattern>/abmissionform</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
